<!--<div align='left' *ngFor="let pokemon of _pokemons">
  <h3>{{pokemon['en-name']}}</h3>
  <img [src]="pokemon['l-image']">
  <label>Name = {{pokemon['en-name']}}</label>
  <input type="text" [value]="pokemon['cp']">
  <input type="text" [value]="pokemon['hp']">
  <input type="text" [value]="pokemon['attack']">
  <input type="text" [value]="pokemon['en-name']">
</div>-->

<div>
  <ul *ngFor="let pokemon of _pokemons">
    <li>
      <img [src]="pokemon['l-image']"/>
      <h3>{{pokemon['en-name']}}</h3>
      <p>Number: {{pokemon['id']}}</p>
      <p>CP: {{pokemon['cp']}}</p>
      <p>HP: {{pokemon['hp']}}</p>
      <p>Attack: {{pokemon['attack']}}</p>
      <p>Defense: {{pokemon['defense']}}</p>
      <p>Type 1: {{pokemon['type1']}}</p>
      <p>Type 2: {{pokemon['type2']}}</p>
      <p>Generation: {{pokemon['generation']}}</p>
      <p>Legend: {{pokemon['legend'] == '1'}}</p>
    </li>
  </ul>
</div>